<ion-header>
  <ion-toolbar>
    <ion-title>Navigation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item button [routerLink]="['/advanc']" detail>
      <ion-label>ADVANC</ion-label>
    </ion-item>
  
    <ion-item button [routerLink]="['/aot']" detail>
      <ion-label>AOT</ion-label>
    </ion-item>

    <ion-item button [routerLink]="['/bem']" detail>
      <ion-label>BEM</ion-label>
    </ion-item>

    <ion-item button [routerLink]="['/bts']" detail>
      <ion-label>BTS</ion-label>
    </ion-item>

    <ion-item button [routerLink]="['/cpn']" detail>
      <ion-label>CPN</ion-label>
    </ion-item>

    <ion-item button [routerLink]="['/kbank']" detail>
      <ion-label>KBANK</ion-label>
    </ion-item>

    <ion-item button [routerLink]="['/ptt']" detail>
      <ion-label>PTT</ion-label>
    </ion-item>

    <ion-item button [routerLink]="['/pttep']" detail>
      <ion-label>PTTEP</ion-label>
    </ion-item>

    <ion-item button [routerLink]="['/scb']" detail>
      <ion-label>SCB</ion-label>
    </ion-item>

    <ion-item button [routerLink]="['/scc']" detail>
      <ion-label>SCC</ion-label>
    </ion-item>

  </ion-list>
</ion-content>

