<ion-content color='primary'>
  <div class="ion-padding" *ngIf="isLoggedIn === true">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Welcome, {{users.name}}</ion-card-subtitle>
        <ion-card-title>{{users.email}}</ion-card-title>
      </ion-card-header>
      <img src="{{users.picture.data.url}}" width="100" alt="{{users.name}}" />
      <ion-card-content>
        <p>
          <ion-button expand="full" color="primary" (click)="logout()">
            Logout
            <ion-icon name="log-out"></ion-icon>
          </ion-button>
        </p>
        <p>
          <ion-button class="nav-button" expand="full" [routerLink]="['/tab/select']" (click)="pushInfo(users.id,users.name,users.email)">
            Start!
          </ion-button>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="isLoggedIn === false">
    <ion-row>
      <ion-col>
        <br><br>
        <h1 class="description">Stocker</h1>
        <h2 style="text-align: center;">
          <img width="120" height="120" src="assets/img/growth.png"/>
        </h2>
        <p class="description">This app helps you view the record of stock.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="log-in-button" expand="block" (click)="fbLogin()">
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
          Sign in with Facebook
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>