<ion-header>
  <ion-toolbar>
    <ion-title>Price Analysis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-card-title>ADVANC
    </ion-card-title>
    <img src="http://1becd1beed38.ngrok.io/graphadvanc" alt="ADVANC Price"/>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>AOT
    </ion-card-title>
    <img src="http://1becd1beed38.ngrok.io/graphaot" alt="ADVANC Price"/>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>BEM
    </ion-card-title>
    <img src="http://1becd1beed38.ngrok.io/graphbem" alt="ADVANC Price"/>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>BTS
    </ion-card-title>
    <img src="http://1becd1beed38.ngrok.io/graphbts" alt="ADVANC Price"/>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>CPN
    </ion-card-title>
    <img src="http://1becd1beed38.ngrok.io/graphcpn" alt="ADVANC Price"/>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>KBANK
    </ion-card-title>
    <img src="http://1becd1beed38.ngrok.io/graphkbank" alt="ADVANC Price"/>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>PTT
    </ion-card-title>
    <img src="http://1becd1beed38.ngrok.io/graphptt" alt="ADVANC Price"/>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>PTTEP
    </ion-card-title>
    <img src="http://1becd1beed38.ngrok.io/graphpttep" alt="ADVANC Price"/>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>SCB
    </ion-card-title>
    <img src="http://1becd1beed38.ngrok.io/graphscb" alt="ADVANC Price"/>
  </ion-card-content>
  <ion-card-content>
    <ion-card-title>SCC
    </ion-card-title>
    <img src="http://1becd1beed38.ngrok.io/graphscc" alt="ADVANC Price"/>
  </ion-card-content>

</ion-content>
